---

---

<nav class="bg-white/90 dark:bg-black/80 dark:backdrop-blur-sm fixed w-full backdrop-blur-xl z-50">
    <div class="flex flex-wrap max-w-screen-xl items-center justify-between py-5 gap-3 mx-auto md:px-12 px-5">
        <a href="/"><div class="text-xl font-sfsemibold">Blog</div></a>
        <ul class="flex flex-row md:space-x-10 space-x-2 font-sfregular text-base text-zinc-500 dark:text-zinc-300 list-none pl-0">
            <li class="hover:text-blue-600 transition ease-in"><a href="https://anodite.me/">Home</a></li>
            <li class="hover:text-blue-600 transition ease-in"><a href="https://anodite.me/#Contact">Contact</a></li>
        </ul>
        <div role="button" class="transition ease-in-out font-stregular text-sm flex flex-row items-center space-x-1 h-6 bg-zinc-200/60 dark:bg-zinc-800 hover:bg-zinc-300/60 dark:hover:bg-zinc-700 px-3 rounded-xl">
            <svg class="fill-black dark:fill-zinc-400" xmlns='http://www.w3.org/2000/svg' width='9.5' height='27.5' viewBox='0 0 16 44'><path d='M15.27 28.29l-4.06-4.06a6.113 6.113 0 0 0 1.35-3.83c0-3.39-2.76-6.15-6.15-6.15-3.39 0-6.15 2.76-6.15 6.15s2.76 6.15 6.15 6.15c1.43 0 2.75-.5 3.8-1.33l4.06 4.06 1-.99zM6.4 25.33a4.93 4.93 0 0 1-4.92-4.92c0-2.71 2.2-4.92 4.92-4.92s4.92 2.21 4.92 4.92c.01 2.71-2.2 4.92-4.92 4.92z'/></svg>
            <div class="font-stregular text-[12px] text-gray-800 dark:text-zinc-400">Search Blog</div>
        </div>
    </div>
    <hr class="dark:border-zinc-800 border-zinc-200"/>
</nav>
<!-- Extra styling option to add a gradient blend behind navbar -->
<!-- <div class="w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 h-12 fixed z-40"></div> -->
<div class="py-11"></div>